
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Circle</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>

<nav>
    <div class="logo">Full Circle ⚽</div>
    <div class="nav-links">
        <a href="/plans/practice">Practice</a>
        <a href="/plans/meals">Meals</a>
        <a href="/plans/strength">S&C</a>
        <a href="/plans/dashboard">My Dashboard</a>
        <a href="/users/logout">Logout</a>
    </div>
</nav>

<div class="container">