<%- include('header') %>
<div class="main">
    <h1>Welcome to Full Circle</h1>
    <p>Your personal futbol assistant for all your needs: Practices, Strength and Conditioning and Meal Plans</p>

    <a href="/users/login" class="btn">LOGIN HERE</a>
    <a href="/users/signup" class="btn">SIGN UP HERE</a>

  </div>
  <div class="features">
    <div class="feature-card">
      <img src="/images/meals.jpg" alt="Meals">
      <h3>Meal Plans</h3>
      <p>Nutrition plans built around your goals, dietary needs and schedule.
      </p>
    </div>
    <div class="feature-card">
      <img src="/images/practice.jpg" alt="Practice">
      <h3>Practice Plans</h3>
      <p>AI-generated drills tailored to your needs. Will provide a detailed and well-structured plan based on your position, duration of sessions and experience level.</p>

    </div>
    <div class="feature-card">
      <img src="/images/strength.jpg">
      <h3>Strength & Conditioning</h3>
      <p>Gym/bodyweight programs designed for soccer players at every level. Will provide correct and helpful drills such as pylometrics, agility drills or endurance based drills based on specifications from the user.</p>
    </div>
  </div>
  <%- include('footer') %>
