<%- include('header') %>

        <h1>Create Account</h1>

        <form action="/users/signup/submit" method="post">

            <label for="name">Username: </label>
            <input type="text" name="name" required>

            <label for="email">Email: </label>
            <input type="email" name="email" required>

            <label for="password">Password: </label>
            <input type="password" name="password" required>

            <input type="submit" value="Sign up">
        </form>

        <p>Already have an account? <a href="/users/login">Log in here.</a></p>


        <%- include('footer') %>